<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/fibonacci.css">
	<link rel="stylesheet"
	      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
</head>
<body>

<header class="header">
	<a href="index.html" class="logo">
		<img src="assets/logo.png" style="width: 2rem;">
		<span>fibonacci</span>
	</a>
	<nav>
		<ul>
			<li>
				<form class="search-form">
					<input type="search" placeholder="Search...">
					<span class="icon search"></span>
				</form>
			</li>
			<li>
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="contact.html">contact</a>
			</li>
			<li>
				<a href="about.html">about</a>
			</li>
		</ul>
	</nav>
</header>

<main class="main post-detail">
	<article>
		<header>
			<div class="title-and-meta">
				<h1>Lorem ipsum dolor sit amet</h1>

				<div class="post-meta">
					<div class="author">
						<img src="assets/author_mini.png" width="15"/>
						<span>Triton Maxwell</span>
						<span class="role">Admin</span>
					</div>

					<div class="posted-date">
						<span class="icon calendar"></span>
						<span>Dec 12, 2018 4:00 PM</span>
					</div>
					<div class="tagged-in">
						<span class="icon tag"></span>
						<ul>
							<li>
								<a href="#">#javascript</a>
							</li>
							<li>
								<a href="#">#css</a>
							</li>
							<li>
								<a href="#">#html</a>
							</li>
						</ul>
					</div>
					<div class="total-comments">
						<span class="icon comment"></span>
						<a href="#">107 Comments</a>
					</div>
				</div>
			</div>
		</header>

		<figure class="full poster-image">
			<img src="assets/animal-animal-photography-canidae.jpg">
		</figure>

		{{ content }}

		<hr>

		<section class="related-posts">
			<h3>Related Posts</h3>
			<ul>
				<li>
					<a href="#">Lorem ipsum dolor sit amet</a>
				</li>
				<li>
					<a href="#">Sed ut perspiciatis unde omnis iste</a>
				</li>
				<li>
					<a href="#">At vero eos et accusamus</a>
				</li>
				<li>
					<a href="#">Temporibus autem quibusdam</a>
				</li>
				<li>
					<a href="#">Ut enim ad minima veniam</a>
				</li>
			</ul>
		</section>

		<section class="comments">
			<h3>Comments</h3>

			<h4>Post Comment</h4>

			<form>
				<div class="new-comment">
					<div class="user">
						<img src="assets/author_mini.png" width="50"/>
						<span>You</span>
					</div>
					<div class="form-control">
						<textarea placeholder="Write not more than 500 characters..."></textarea>
					</div>
				</div>
			</form>

			<h4>2 Comments</h4>

			<ul class="comments-list">
				<li>
					<div class="comment">
						<div class="user">
							<img src="assets/martin.png" width="50"/>
							<span>Martin</span>
						</div>
						<div class="comment-info">
							<div class="commented-date">
								just now
							</div>
							<div class="desc">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua.
							</div>
							<div>
								<button>Reply</button>
							</div>
						</div>
					</div>
				</li>

				<li>
					<div class="comment">
						<div class="user">
							<img src="assets/tanny.jpg" width="50"/>
							<span>Tanny</span>
						</div>
						<div class="comment-info">
							<div class="commented-date">
								2 days ago
							</div>
							<div class="desc">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua.
							</div>
							<div>
								<button>Reply</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</article>
</main>

<footer class="footer">
	&copy; 2018 &middot; All Rights Reserved
</footer>
<script>hljs.initHighlightingOnLoad();</script>
<script src="assets/fibonacci.js"></script>
</body>
</html>